.letraso {
    margin-top: 50px;
}
.proyect {
    position: relative;
    width: 400px;
}
.image__img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 12;
    right: 0;
    width: 96.25%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 5px;
}
.image__overlay--blur {
    backdrop-filter: blur(1px);
}
.image__overlay > * {
    transform: translateY(-20px);
    transition: transform 0.25s;
}
.image__overlay:hover {
    opacity: 1;
}
.image__overlay:hover > * {
    transform: translateY(0);
}
.image__title {
    font-size: 2em;
    font-weight: bold;
}
.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;

}
