.letra {
    margin-top: 55px;
}
.headline {
    display: flex;
    justify-content: center;
    h3 {
        color: white;
        text-align: center;
    }
    .letra:hover {
        color: #FC6D6D;
    }
    
}
.skills {
    color: white;
}
.descripcion {
    color: white;

}
